.rightbarContainer {
  flex: 3.5;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}
.rightbarWrapper {
  margin-top: 20px;
  width: 100%;
  padding-right: 0px;
}
.birthdayGift {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.bday {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.rightbarAd {
  width: 100%;
}
.ad {
  width: 95%;
  border-radius: 10px;
}

.onlineFriends {
  margin-top: 30px;
}
.onlineText {
  font-size: 25px;
  font-weight: 500;
}
.friends {
  margin-top: 15px;
  display: flex;
  align-items: center;
 
}
.onlinePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  position: relative;
}
.status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  left: 30px;
  border: 2px solid white;
}
.onlineName {
  font-size: 15px;
  font-weight: 500;
  padding-left: 20px;

}

/* profile rightbar */

.profileContainer {
  flex: 3.5;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
}
.followbtn {
  font-size: 20px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  background-color: #1872f2;
  border: none;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-content: center;
}
.addicon {
  color: white;
  font-size: 30px;
}
.userInfo {
  display: flex;
  flex-direction: column;
}
.userHeading {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}
.userdetails {
  display: flex;
  flex-direction: column;
}
span {
  margin-bottom: 5px;
}
b {
  font-weight: 500;
}
h2 {
  font-weight: 500;
  margin-bottom: 15px;
}
.userFriends {
  margin-top: 20px;
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
}
.friendImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  padding-left: 10px;
}
.userName {
  /* padding: 10px; */
  text-align: center;
}

@media only screen and (max-width: 350px) {
  .rightbarContainer {
    display: none;
  }
    .profileContainer {
      overflow: hidden;
      flex: 2;
      height: calc(100vh - 50px);
      overflow-y: scroll;
      position: sticky;
      top: 50px;
      width: 100%;
      padding: 10px;
      margin-top: 20px;
    }
  
    .followbtn {
      font-size: 10px;
      padding: 3px 8px;
      margin-bottom: 10px;
      border-radius: 2px;
      color: white;
      background-color: #1872f2;
      border: none;
      cursor: pointer;
      font-weight: 500;
      display: flex;
      align-content: center;
    }
  
    .addicon {
      color: white;
      font-size: 15px;
    }
  
    .userInfo {
      display: flex;
      flex-direction: column;
    }
  
    .userHeading {
      font-size: 12px;
      margin-bottom: 15px;
      font-weight: 700;
    }
  
    .userdetails {
      display: flex;
      flex-direction: column;
    }
  
    span {
      margin-bottom: 5px;
      font-size: 10px;
    }
  
    b {
      font-weight: 500;
    }
  
    h4 {
      font-weight: 500;
      margin-bottom: 15px;
    }
  
    .userFriends {
      margin-top: 20px;
      width: 100%;
      /* display: flex; */
      /* flex-direction: column; */
    }
  
    .friendImg {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
      padding-left: 0px;
    }
  
    .userName {
      /* padding: 10px; */
      /* text-align: center; */
      padding-left: 0px;
      font-size: 10px;
    }

}

@media only screen and (max-width: 600px) {
  .rightbarContainer {
    display: none;
  }
}
